{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-flow-strip-types",
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "@babel/plugin-proposal-class-properties"
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-flow"
  ]
}
