.fixed-header-table {
  width: 500px;
  overflow: hidden;

  .fixed-header-table__body {
    height: 200px;
    overflow: auto;
  }

  .th-content {
    display: flex;
    position: relative;
    padding-right: 15px;

    .icon-sort {
      position: absolute;
      right: 3px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0.8em;
    }
  }
}
