@import "theme-default";

.cb-DataTable--virtual {
  height: 300px;
  overflow: auto;
  position: relative;

  .cb-TableContainer {
    height: 100%;
  }

  .cb-Table {
    width: 100%;

    .cb-TableHeader {
      .cb-TableCell {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
  }
}
