@import "theme-default";

.cb-DataTable--virtual {
  height: 300px;
  overflow: auto;

  .cb-Table {
    width: 100%;
    position: sticky;
    top: 0;

    .cb-TableHeader {
      .cb-TableCell {
        position: sticky;
        top: 0;
        z-index: 1;
      }
    }
  }
}
