.virtual-data-table__scroll-area {
  height: 200px;
  overflow: auto;

  .virtual-data-table__full-area {
    overflow: hidden;
    display: inline-block;
    position: relative;

    .fixed-header-table__body {
      overflow: hidden;
      height: initial;
      will-change: transform;
      display: inline-block;
    }
  }
}
